# Lab 4

## import libs and connect to database

In [ ]:
import pandas
import configparser
import psycopg2

In [ ]:
config = configparser.ConfigParser()
config.read('config.ini')

host=config['myaws']['host']
db=config['myaws']['db']
user=config['myaws']['user']
pwd = config['myaws']['pwd']

conn = psycopg2.connect(  host=host,
                       user=user,
                       password = pwd,
                       dbname=db)

In [ ]:
cur=conn.cursor()

## q1

In [ ]:
q1_sql = """
        select * from gp12.student
        """

In [ ]:
df= pandas.read_sql_query(q1_sql,conn)
df[:]

## q2

In [ ]:
q2_sql = """
        select gp12.professor.p_name,
        gp12.course.c_name
        from gp12.professor
        inner join gp12.course
        on gp12.professor.p_email = gp12.course.p_email
        """

In [ ]:
df=pandas.read_sql_query(q2_sql,conn)
df[:]

## q3

In [ ]:
q3_sql = """
        select c_number,
        count(c_number) as num_enroll
        from gp12.enroll_list
        group by c_number
        """

In [ ]:
df=pandas.read_sql_query(q3_sql,conn)
df[:]

In [ ]:
df.plot.bar(x='c_number',y='num_enroll')

## q4

In [ ]:
q4_sql = """
        select gp12.professor.p_name,
        count(gp12.course.c_name) as num_course
        from gp12.professor
        inner join demo.course
        on demo.professor.p_email = gp12.course.p_email
        group by gp12.professor.p_name
        """

In [ ]:
df=pandas.read_sql_query(q4_sql,conn)
df[:]

In [ ]:
df.plot.bar(x='p_name',y='num_course')

## q5

In [ ]:
q5_insert_professor_sql = """
            insert into gp12.professor(p_email,p_name,p_office)
            values('{}','{}','{}')
            """.format('new_lab4_email','new_p_lab4_name','new_lab4_o')
print(q5_insert_professor_sql)

In [ ]:
cur.execute(q5_insert_professor_sql)

In [ ]:
# conn.rollback() #if error, rollback

In [ ]:
conn.commit() # no error. commit

In [ ]:
df=pandas.read_sql_query('select * from gp12.professor',conn)
df[:]

In [ ]:
q5_insert_course_sql = """
            insert into gp12.course(c_number,c_name,c_room,p_email)
            values('{}','{}','{}','{}')
            """.format('new_lab4_c','new_lab4_n','new_lab4_r','new_lab4_email')
print(q5_insert_course_sql)

In [ ]:
cur.execute(q5_insert_course_sql)

In [ ]:
conn.commit()

In [ ]:
df=pandas.read_sql_query('select * from gp12.course',conn)
df[:]

## q6

In [ ]:
q6_update_course_sql ="""
                    update gp12.course
                    set p_email = '{}'
                    where p_email ='{}'
                    """.format('new_lab4_email','t2@jmu.edu')

In [ ]:
cur.execute(q6_update_course_sql)

In [ ]:
conn.commit() # no error. commit

In [ ]:
df=pandas.read_sql_query('select * from gp12.course',conn)
df[:]

In [ ]:
q6_delete_professor_sql = """
                            delete from gp12.professor
                            where p_email='{}'
                            """.format('t2@jmu.edu')

In [ ]:
cur.execute(q6_delete_professor_sql)

In [ ]:
conn.commit() # no error. commit

In [ ]:
df=pandas.read_sql_query('select * from gp12.professor',conn)
df[:]

## close the cursor and connnection

In [ ]:
cur.close()

In [ ]:
conn.close()